#welcome{
position: absolute;
top: 30%;
left: 80px;
justify-content: center;
border: 2px;
text-align: center;
background-color: #000;
color: #fff;
opacity: .5;
padding-bottom: 100px;
}
#bn:hover{
    background-color: #fff;
}
button{
    background-color: rgb(249, 249, 3);
    color: black;
}
button:hover{
    background-color: white;
    color: yellow;
}
.px-4:hover{
    color: yellow;
    text-decoration: underline;
}